{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center align-items-center" style="min-height:80vh;">

    <div class="col-md-5">

        <div class="card shadow-lg border-0 p-4">

            <div class="text-center mb-4">

                <h2 class="fw-bold">
                    Create Account
                </h2>

                <p class="text-muted">
                    Register to manage your expenses
                </p>

            </div>

            <form method="POST">

                <div class="mb-3">

                    <label class="form-label">
                        Username
                    </label>

                    <input
                        type="text"
                        name="username"
                        class="form-control"
                        placeholder="Enter username"
                        required
                    >

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Email
                    </label>

                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter email"
                        required
                    >

                </div>

                <div class="mb-4">

                    <label class="form-label">
                        Password
                    </label>

                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter password"
                        required
                    >

                </div>

                <button class="btn btn-success w-100 py-2">

                    Register

                </button>

            </form>

            <div class="text-center mt-4">

                <p>
                    Already have an account?
                </p>

                <a href="/login" class="btn btn-dark">

                    Login

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}